/* .bar {
  border: 5px groove rgb(42, 11, 82);
  background-color: rgb(47, 87, 163);
  height: 100%;
  padding-top: 4vh;
  margin: 0 auto;
  width: 100%;
} */
.sBar {
  fill: rgb(32, 13, 83);
}
.sBar:hover {
  fill: yellow;
}
.titles {
  fill: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: 600;
}
.question {
  fill: navy;
  font-size: 1.8vh;
  font-weight: 600;
  width: 80vh;
}
